#
# This list is used by git-shortlog to fix a few botched name translations
# in the git archive, either because the author's full name was messed up
# and/or not always written the same way, making contributions from the
# same person appearing not to be so or badly displayed.
#
# https://sourceforge.net/p/edk2/_members/

Albecki Mateusz <mateusz.albecki@intel.com> </o=Intel/ou=Exchange Administrative Group (FYDIBOHF23SPDLT)/cn=Recipients/cn=Albecki, Mateusz3be>
Alexei Fedorov <alexei.fedorov@arm.com>
Alexei Fedorov <alexei.fedorov@arm.com> <Alexei.Fedorov@arm.com>
Alex Gu <xgu3@users.sourceforge.net> <xgu3@6f19259b-4bc3-4df7-8a09-765794883524>
Andrew Fish <afish@apple.com> <afish@apple.com>
Andrew Fish <afish@apple.com> <ajfish@6f19259b-4bc3-4df7-8a09-765794883524>
Andrew Fish <afish@apple.com> <andrewfish@6f19259b-4bc3-4df7-8a09-765794883524>
Antoine Cœur <coeur@gmx.fr>
Antoine Cœur <Coeur@gmx.fr>
Bob Feng <bob.c.feng@intel.com>
Brendan Jackman <brendan.jackman@arm.com> <Brendan.Jackman@arm.com>
Brendan Jackman <brendan.jackman@arm.com> <Brendan.JackMan@arm.com>
Bruce Maynard <Bruce.Maynard@Emulex.Com> <darylm503@Edk2>
Dandan Bi <dandan.bi@intel.com>
Dandan Bi <dandan.bi@intel.com> <C:/Program Files (x86)/Git/o=Intel/ou=Exchange Administrative Group (FYDIBOHF23SPDLT)/cn=Recipients/cn=Bi, Dandan08b>
Dandan Bi <dandan.bi@intel.com> </o=Intel/ou=Exchange Administrative Group (FYDIBOHF23SPDLT)/cn=Recipients/cn=Bi, Dandan08b>
Daryl McDaniel <daryl.mcdaniel@intel.com>
Daryl McDaniel <daryl.mcdaniel@intel.com> <darylm503@6f19259b-4bc3-4df7-8a09-765794883524>
Daryl McDaniel <daryl.mcdaniel@intel.com> Daryl McDaniel <edk2-lists@mc2research.org>
David Huang <hhuan13@users.sourceforge.net> <davidhuang@6f19259b-4bc3-4df7-8a09-765794883524>
David Huang <hhuan13@users.sourceforge.net> <hhuan13@6f19259b-4bc3-4df7-8a09-765794883524>
David Wei <david.wei@intel.com>
Ding Ting <tding1@users.sourceforge.net> <tding1@6f19259b-4bc3-4df7-8a09-765794883524>
Dongao Guo <dongao.guo@intel.com>
Elvin Li <elvin.li@intel.com> <li-elvin@6f19259b-4bc3-4df7-8a09-765794883524>
Eric Dong <eric.dong@intel.com>
Eric Dong <eric.dong@intel.com> Eric Dong <eirc.dong@intel.com>
Eric Dong <eric.dong@intel.com> ydong10 <ydong10@6f19259b-4bc3-4df7-8a09-765794883524>
Eric Jin <eric.jin@intel.com> <jjin9@6f19259b-4bc3-4df7-8a09-765794883524>
Erik Bjorge <erik.c.bjorge@intel.com> <geekboy15a@6f19259b-4bc3-4df7-8a09-765794883524>
Feng Tian <feng.tian@intel.com> <eric_tian@6f19259b-4bc3-4df7-8a09-765794883524>
Feng Tian <feng.tian@intel.com> <erictian@6f19259b-4bc3-4df7-8a09-765794883524>
Fu Siyuan <siyuan.fu@intel.com> <C:/Program Files (x86)/Git/o=Intel/ou=Exchange Administrative Group (FYDIBOHF23SPDLT)/cn=Recipients/cn=sfu5>
GregX Yeh <gregx.yeh@intel.com> GregX Yeh <devel@edk2.groups.io>
Guo Dong <gdong1@users.sourceforge.net> <gdong1@6f19259b-4bc3-4df7-8a09-765794883524>
Guo Dong <guo.dong@intel.com>
Guo Dong <guo.dong@intel.com> <gdong1>
Harry Liebel <Harry.Liebel@arm.com> NetBSD project <NetBSD project>
Hess Chen <hesheng.chen@intel.com>
Hess Chen <hesheng.chen@intel.com> <hchen30@6f19259b-4bc3-4df7-8a09-765794883524>
Hot Tian <hhtian@users.sourceforge.net> <hhtian@6f19259b-4bc3-4df7-8a09-765794883524>
Jaben Carsey <jaben.carsey@intel.com>
Jaben Carsey <jaben.carsey@intel.com> <Jaben.carsey@intel.com>
Jaben Carsey <jaben.carsey@intel.com> <jcarsey>
Jaben Carsey <jaben.carsey@intel.com> <jcarsey@6f19259b-4bc3-4df7-8a09-765794883524>
Jaben Carsey <jaben.carsey@intel.com> <jcarsey@Edk2>
Jaben Carsey <jaben.carsey@intel.com> </o=Intel/ou=Americas01/cn=Workers/cn=Carsey, Jaben>
Jan Dabros <jsd@semihalf.com>
Jeff Bobzin <jeff.bobzin@insyde.com> <Jeff Bobzin (jeff.bobzin@insyde.com)>
Jeff Fan <Jeff.fan@intel.com> <vanjeff@6f19259b-4bc3-4df7-8a09-765794883524>
Jiaxin Wu <jiaxin.wu@intel.com> <Jiaxin.wu@intel.com>
Jiewen Yao <jiewen.yao@intel.com>
Jiewen Yao <jiewen.yao@intel.com> <Jiewen.yao@intel.com>
Jiewen Yao <jiewen.yao@intel.com> <Jiewen.Yao@intel.com>
Jiewen Yao <jiewen.yao@intel.com> <jyao1@6f19259b-4bc3-4df7-8a09-765794883524>
Jiewen Yao <jiewen.yao@intel.com> <jyao1@Edk2>
Jim Dailey <Jim.Dailey@Dell.com>
Jim Dailey <Jim.Dailey@Dell.com> <Jim_Dailey@Dell.com>
Jiong Gong <jgong5@users.sourceforge.net> <jgong5@6f19259b-4bc3-4df7-8a09-765794883524>
Jordan Justen <jordan.l.justen@intel.com> <c:/oc6/Git/O=INTEL/OU=AMERICAS01/CN=WORKERS/CN=JUSTEN, JORDAN L>
Jordan Justen <jordan.l.justen@intel.com> <jljusten@6f19259b-4bc3-4df7-8a09-765794883524>
Ken Lu <ken.lu@intel.com> <klu2@6f19259b-4bc3-4df7-8a09-765794883524>
Kun Gui <kun.gui@intel.com> <gikidy@6f19259b-4bc3-4df7-8a09-765794883524>
Larry Hauch <larry.hauch@intel.com>
Larry Hauch <larry.hauch@intel.com> edk2 dev <edk2.dev@edk2.org>
Larry Hauch <larry.hauch@intel.com> <lhauch>
Larry Hauch <larry.hauch@intel.com> <lhauch@6f19259b-4bc3-4df7-8a09-765794883524>
Laurie Jarlstrom <laurie.jarlstrom@intel.com> <Laurie.jarlstrom@intel.com>
Lee Leahy <Leroy.p.leahy@intel.com>
Lee Leahy <leroy.p.leahy@intel.com> <Leroy.p.leahy@intel.com>
Lee Leahy <Leroy.p.leahy@intel.com> <lpleahy@6f19259b-4bc3-4df7-8a09-765794883524>
Lee Leahy <Leroy.p.leahy@intel.com> <lpleahy  leroy.p.leahy@intel.com>
Lee Rosenbaum <leegrosenbaum@users.sourceforge.net> <leegrosenbaum@6f19259b-4bc3-4df7-8a09-765794883524>
Lei Jin <ljin6@users.sourceforge.net> <ljin6@6f19259b-4bc3-4df7-8a09-765794883524>
Leon Li <leon.li@intel.com> <xli24@6f19259b-4bc3-4df7-8a09-765794883524>
Liming Gao <liming.gao@intel.com> <Gao, Liming liming.gao@intel.com>
Liming Gao <liming.gao@intel.com> <lgao4@6f19259b-4bc3-4df7-8a09-765794883524>
Liming Gao <liming.gao@intel.com> <liming.gao@intel.com>
Long Qin <qin.long@intel.com> <qlong>
Lu Shifei <shifeix.a.lu@intel.com>
Marc-André Lureau <marcandre.lureau@redhat.com> <marcandre.lureau@redhat.com>
Marvin Häuser <Marvin.Haeuser@outlook.com>
Marvin Häuser <Marvin.Haeuser@outlook.com> edk2-devel <edk2-devel-bounces@lists.01.org>
Maurice Ma <maurice.ma@intel.com>
Michael Johnson <michael.johnson@intel.com>
Michael Kinney <michael.d.kinney@intel.com>
Michael Kinney <michael.d.kinney@intel.com> <mdkinney@6f19259b-4bc3-4df7-8a09-765794883524>
Michael Kinney <michael.d.kinney@intel.com> <mdkinney@mdkinney-desk.amr.corp.intel.com>
Michael Kinney <michael.d.kinney@intel.com> <Michael.d.kinney@intel.com>
Michael Kinney <michael.d.kinney@intel.com> </o=Intel/ou=Americas01/cn=Workers/cn=Kinney, Michael D>
Michael Krau <michaelx_krau@users.sourceforge.net> <michaelx_krau@6f19259b-4bc3-4df7-8a09-765794883524>
Michael Zimmermann <sigmaepsilon92@gmail.com> <[mailto:sigmaepsilon92@gmail.com]>
Mike Wu <mikewuping <mikewuping@6f19259b-4bc3-4df7-8a09-765794883524>
Myron Porter <myronporter@users.sourceforge.net> <MyronPorter@6f19259b-4bc3-4df7-8a09-765794883524>
Nikolai Saoukh <nms@otdel-1.org>
Olivier Martin <olivier.martin@arm.com> <oliviermartin>
Olivier Martin <olivier.martin@arm.com> <oliviermartin@6f19259b-4bc3-4df7-8a09-765794883524>
Olivier Martin <olivier.martin@arm.com> <Olivier.Martin@arm.com>
Olivier Martin <olivier.martin@arm.com> <Olivier Martin olivier.martin@arm.com>
Penny Gao <pgao2@users.sourceforge.net> <pgao2@6f19259b-4bc3-4df7-8a09-765794883524>
Philippe Mathieu-Daudé <philmd@redhat.com>
Qian Ouyang <qing.huang@intel.com> <qianouyang@6f19259b-4bc3-4df7-8a09-765794883524>
Qian Ouyang <qing.huang@intel.com> <qouyang@6f19259b-4bc3-4df7-8a09-765794883524>
Qing Huang <qing.huang@intel.com> <qhuang8@6f19259b-4bc3-4df7-8a09-765794883524>
Qin Long <qin.long@intel.com> <qlong@6f19259b-4bc3-4df7-8a09-765794883524>
Qiu Shumin <shumin.qiu@intel.com>
Ray Ni <ray.ni@intel.com>
Rebecca Cran <rebecca@bluestop.org>
Rebecca Cran <rebecca@bluestop.org> <rebecca=bluestop.org@groups.io>
Rebecca Cran <rebecca@bluestop.org> Rebecca Cran via edk2-devel <edk2-devel@lists.01.org>
Rebecca Cran <rebecca@bsdio.com>
Richard Du <xdu2@users.sourceforge.net> <xdu2@6f19259b-4bc3-4df7-8a09-765794883524>
Richard Thomaiyar <richard.marian.thomaiyar@intel.com> edk2-devel On Behalf Of rthomaiy <[mailto:edk2-devel-bounces@lists.01.org]>
Ronald Cron <ronald.cron@arm.com> <Ronald.Cron@arm.com>
Rui Sun <rsun3@users.sourceforge.net> <rsun3@6f19259b-4bc3-4df7-8a09-765794883524>
Ruiyu Ni <ruiyu.ni@intel.com>
Ruiyu Ni <ruiyu.ni@intel.com> <C:/Program Files (x86)/Git/O=Intel/OU=Pacifica02/cn=Recipients/cn=rni2>
Ruiyu Ni <ruiyu.ni@intel.com> <niruiyu@6f19259b-4bc3-4df7-8a09-765794883524>
Ruiyu Ni <ruiyu.ni@intel.com> <Ruiyu.ni@Intel.com>
Ruiyu Ni <ruiyu.ni@intel.com> <ruyu.ni@intel.com>
Samer El-Haj-Mahmoud <elhaj@hpe.com> <Samer El-Haj-Mahmoud elhaj@hp.com>
Scott Wang <qwang12@users.sourceforge.net> <qwang12@6f19259b-4bc3-4df7-8a09-765794883524>
Shenglei Zhang <shenglei.zhang@intel.com>
Siyuan Fu <siyuan.fu@intel.com> <sfu5@6f19259b-4bc3-4df7-8a09-765794883524>
Sriram Subramanian <sriram-s@hpe.com>
Stanely Chen <jchen20@users.sourceforge.net> <jchen20@6f19259b-4bc3-4df7-8a09-765794883524>
Star Zeng <star.zeng@intel.com>
Star Zeng <star.zeng@intel.com> <lzeng14@6f19259b-4bc3-4df7-8a09-765794883524>
Tian Feng <feng.tian@intel.com>
Ting Ye <ting.ye@intel.com>
Ting Ye <ting.ye@intel.com> <tye1@6f19259b-4bc3-4df7-8a09-765794883524>
Ting Ye <ting.ye@intel.com> <tye@6f19259b-4bc3-4df7-8a09-765794883524>
Tomas Pilar <tpilar@solarflare.com>
Vitaly Cheptsov <vit9696@protonmail.com> Vitaly Cheptsov via Groups.Io <vit9696=protonmail.com@groups.io>
Vladimir Olovyannikov <vladimir.olovyannikov@broadcom.com> Vladimir Olovyannikov via edk2-devel <edk2-devel@lists.01.org>
Wang Fan <fan.wang@intel.com>
Wang Fan <fan.wang@intel.com> edk2-devel-bounces@lists.01.org <edk2-devel-bounces@lists.01.org>
Wei6 Xu <wei6.xu@intel.com>
Xiaoyu Lu <xiaoyux.lu@intel.com>
Yan Wang <ywang@users.sourceforge.net> <ywang@6f19259b-4bc3-4df7-8a09-765794883524>
Yonghong Zhu <yonghong.zhu@intel.com>
Yunhua Feng <yunhuax.feng@intel.com>
Yunhua Feng <yunhuax.feng@intel.com> </o=Intel/ou=Exchange Administrative Group (FYDIBOHF23SPDLT)/cn=Recipients/cn=Feng, YunhuaX4e1>
Zailiang Sun <zailiang.sun@intel.com> </o=Intel/ou=Exchange Administrative Group (FYDIBOHF23SPDLT)/cn=Recipients/cn=Sun, Zailiangf5d>
Zhang Chao <chao.b.zhang@intel.com>
Zhang Lubo <lubo.zhang@intel.com>
Zhang Lubo <lubo.zhang@intel.com> <C:/Program Files (x86)/Git/o=Intel/ou=Exchange Administrative Group (FYDIBOHF23SPDLT)/cn=Recipients/cn=Zhang, Lubob8d>
Zhiju Fan <zhijux.fan@intel.com>
